<nav id="nav" class="navbar">
  <div bp="container">
    <div bp="grid 6 vertical-center">
      <div>
        <div>
          <a href="/"><b>Briskly Digital</b></a>
        </div>
      </div>
      <div bp="text-right">
        <button data-micromodal-trigger="menu-modal">Navigate</button>
      </div>
    </div>
  </div>
</nav>
