{#
  Title: Clients
  Description: Display client logos
  Category: formatting
  Icon: admin-comments
  Keywords: clients logos
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: false
  SupportsMultiple: true
#}

<section class="section--wide clients">
  <div bp="container">
    <div bp="grid 6@md vertical-center">
      <div class="clients__content">
        <p>Clients and partners</p>
        <h2>Successful partnerships and colaborations</h2>
      </div>
      <div class="clients__media">
        <div bp="grid 3@lg 6">
          <div>
            <img src="https://via.placeholder.com/250x100" alt="">
          </div>
          <div>
            <img src="https://via.placeholder.com/250x100" alt="">
          </div>
          <div>
            <img src="https://via.placeholder.com/250x100" alt="">
          </div>
          <div>
            <img src="https://via.placeholder.com/250x100" alt="">
          </div>

          <div>
            <img src="https://via.placeholder.com/250x100" alt="">
          </div>
          <div>
            <img src="https://via.placeholder.com/250x100" alt="">
          </div>
          <div>
            <img src="https://via.placeholder.com/250x100" alt="">
          </div>
          <div>
            <img src="https://via.placeholder.com/250x100" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
