{#
  Title: Features Two Columns
  Description: Section to showcases 2 cols features content
  Category: formatting
  Icon: admin-comments
  Keywords: features icons blocks
  Mode: edit
  Align: left
  PostTypes: page
  SupportsAlign: center
  SupportsMode: false
  SupportsMultiple: true
#}

{% set vertical_align = two_cols_content.columns_content_align %}

<section class="section--wide two-cols">
  <div bp="container">
    <div bp="grid 6@md vertical-{{ vertical_align | default('center') }}">
      <div>
        <img src="http://via.placeholder.com/500x500" alt="">
      </div>
      <div>
        {% include "partial/copy-block.twig" with 
          {
            subhead: "this is subhead",
            h2: "This is main headline",
            body_wysiwyg: "Nisl sollicitudin purus rutrum aliquam tortor sed orci suspendisse eu quisque morbi nunc tortor id euismod scelerisque amet morbi vel nulla lacus id nunc hendrerit.",
            btn: {
              type: "primary",
              details: {
                url: "#",
                title: "Learn more",
                target: "_new",
              }
            }
          } 
        %}
      </div>
    </div>
  </div>
</section>